# Let's Scrape The Toronto Postal Code Wikipedia Page

### First we have to import the libraries we will need

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

## Next, let's get the HTML code from Wikipedia

##### Using the Requests Library, we can store the html code of the Toronto Postal Code Wikipedia page in text format and name it 'resource'. Then create a BeautifulSoup object as 'soup' to extract the html code's contents to get relavent information for the dataframe.

In [3]:
resource = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
#print(resource)
soup  = BeautifulSoup(resource,'lxml')
#print(soup.prettify()) # using prettify to show the indented format of the code.

## Let's extract the table and it's values

In [4]:
table = soup.find('table', class_ = "wikitable sortable")
#print(table.prettify())

##### The data is in HTML format so we will need to extract all table rows seen above as '<>' with 'tr' inside, in text format by using '.text' which will remove the special characters '<', '/' and '>'.

In [5]:
for row in table.find_all('tr'):
    print(row.text)

Postcode
Borough
Neighborhood


M1A
Not assigned
Not assigned


M2A
Not assigned
Not assigned


M3A
North York
Parkwoods


M4A
North York
Victoria Village


M5A
Downtown Toronto
Harbourfront


M6A
North York
Lawrence Heights


M6A
North York
Lawrence Manor


M7A
Queen's Park
Not assigned


M8A
Not assigned
Not assigned


M9A
Downtown Toronto
Queen's Park


M1B
Scarborough
Rouge


M1B
Scarborough
Malvern


M2B
Not assigned
Not assigned


M3B
North York
Don Mills North


M4B
East York
Woodbine Gardens


M4B
East York
Parkview Hill


M5B
Downtown Toronto
Ryerson


M5B
Downtown Toronto
Garden District


M6B
North York
Glencairn


M7B
Not assigned
Not assigned


M8B
Not assigned
Not assigned


M9B
Etobicoke
Cloverdale


M9B
Etobicoke
Islington


M9B
Etobicoke
Martin Grove


M9B
Etobicoke
Princess Gardens


M9B
Etobicoke
West Deane Park


M1C
Scarborough
Highland Creek


M1C
Scarborough
Rouge Hill


M1C
Scarborough
Port Union


M2C
Not assigned
Not assigned


M3C
North York
Flemingdon Park


M3C
North York
Don Mills South


M4C
East York
Woodbine Heights


M5C
Downtown Toronto
St. James Town


M6C
York
Humewood-Cedarvale


M7C
Not assigned
Not assigned


M8C
Not assigned
Not assigned


M9C
Etobicoke
Bloordale Gardens


M9C
Etobicoke
Eringate


M9C
Etobicoke
Markland Wood


M9C
Etobicoke
Old Burnhamthorpe


M1E
Scarborough
Guildwood


M1E
Scarborough
Morningside


M1E
Scarborough
West Hill


M2E
Not assigned
Not assigned


M3E
Not assigned
Not assigned


M4E
East Toronto
The Beaches


M5E
Downtown Toronto
Berczy Park


M6E
York
Caledonia-Fairbanks


M7E
Not assigned
Not assigned


M8E
Not assigned
Not assigned


M9E
Not assigned
Not assigned


M1G
Scarborough
Woburn


M2G
Not assigned
Not assigned


M3G
Not assigned
Not assigned


M4G
East York
Leaside


M5G
Downtown Toronto
Central Bay Street


M6G
Downtown Toronto
Christie


M7G
Not assigned
Not assigned


M8G
Not assigned
Not assigned


M9G
Not assigned
Not assigned


M1H
Scarborough
Cedarbrae


M2H
North York
Hillcrest Village


M3H
North York
Bathurst Manor


M3H
North York
Downsview North


M3H
North York
Wilson Heights


M4H
East York
Thorncliffe Park


M5H
Downtown Toronto
Adelaide


M5H
Downtown Toronto
King


M5H
Downtown Toronto
Richmond


M6H
West Toronto
Dovercourt Village


M6H
West Toronto
Dufferin


M7H
Not assigned
Not assigned


M8H
Not assigned
Not assigned


M9H
Not assigned
Not assigned


M1J
Scarborough
Scarborough Village


M2J
North York
Fairview


M2J
North York
Henry Farm


M2J
North York
Oriole


M3J
North York
Northwood Park


M3J
North York
York University


M4J
East York
East Toronto


M5J
Downtown Toronto
Harbourfront East


M5J
Downtown Toronto
Toronto Islands


M5J
Downtown Toronto
Union Station


M6J
West Toronto
Little Portugal


M6J
West Toronto
Trinity


M7J
Not assigned
Not assigned


M8J
Not assigned
Not assigned


M9J
Not assigned
Not assigned


M1K
Scarborough
East Birchmount Park


M1K
Scarborough
Ionview


M1K
Scarborough
Kennedy Park


M2K
North York
Bayview Village


M3K
North York
CFB Toronto


M3K
North York
Downsview East


M4K
East Toronto
The Danforth West


M4K
East Toronto
Riverdale


M5K
Downtown Toronto
Design Exchange


M5K
Downtown Toronto
Toronto Dominion Centre


M6K
West Toronto
Brockton


M6K
West Toronto
Exhibition Place


M6K
West Toronto
Parkdale Village


M7K
Not assigned
Not assigned


M8K
Not assigned
Not assigned


M9K
Not assigned
Not assigned


M1L
Scarborough
Clairlea


M1L
Scarborough
Golden Mile


M1L
Scarborough
Oakridge


M2L
North York
Silver Hills


M2L
North York
York Mills


M3L
North York
Downsview West


M4L
East Toronto
The Beaches West


M4L
East Toronto
India Bazaar


M5L
Downtown Toronto
Commerce Court


M5L
Downtown Toronto
Victoria Hotel


M6L
North York
Downsview


M6L
North York
North Park


M6L
North York
Upwood Park


M7L
Not assigned
Not assigned


M8L
Not assigned
Not assigned


M9L
North York
Humber Summit


M1M
Scarborough
Cliffcrest


M1M
Scarborough
Cliffside


M1M
Scarborough
Scarborough Village West


M2M
North York
Newtonbrook


M2M
North York
Willowdale


M3M
North York
Downsview Central


M4M
East Toronto
Studio District


M5M
North York
Bedford Park


M5M
North York
Lawrence Manor East


M6M
York
Del Ray


M6M
York
Keelesdale


M6M
York
Mount Dennis


M6M
York
Silverthorn


M7M
Not assigned
Not assigned


M8M
Not assigned
Not assigned


M9M
North York
Emery


M9M
North York
Humberlea


M1N
Scarborough
Birch Cliff


M1N
Scarborough
Cliffside West


M2N
North York
Willowdale South


M3N
North York
Downsview Northwest


M4N
Central Toronto
Lawrence Park


M5N
Central Toronto
Roselawn


M6N
York
The Junction North


M6N
York
Runnymede


M7N
Not assigned
Not assigned


M8N
Not assigned
Not assigned


M9N
York
Weston


M1P
Scarborough
Dorset Park


M1P
Scarborough
Scarborough Town Centre


M1P
Scarborough
Wexford Heights


M2P
North York
York Mills West


M3P
Not assigned
Not assigned


M4P
Central Toronto
Davisville North


M5P
Central Toronto
Forest Hill North


M5P
Central Toronto
Forest Hill West


M6P
West Toronto
High Park


M6P
West Toronto
The Junction South


M7P
Not assigned
Not assigned


M8P
Not assigned
Not assigned


M9P
Etobicoke
Westmount


M1R
Scarborough
Maryvale


M1R
Scarborough
Wexford


M2R
North York
Willowdale West


M3R
Not assigned
Not assigned


M4R
Central Toronto
North Toronto West


M5R
Central Toronto
The Annex


M5R
Central Toronto
North Midtown


M5R
Central Toronto
Yorkville


M6R
West Toronto
Parkdale


M6R
West Toronto
Roncesvalles


M7R
Mississauga
Canada Post Gateway Processing Centre


M8R
Not assigned
Not assigned


M9R
Etobicoke
Kingsview Village


M9R
Etobicoke
Martin Grove Gardens


M9R
Etobicoke
Richview Gardens


M9R
Etobicoke
St. Phillips


M1S
Scarborough
Agincourt


M2S
Not assigned
Not assigned


M3S
Not assigned
Not assigned


M4S
Central Toronto
Davisville


M5S
Downtown Toronto
Harbord


M5S
Downtown Toronto
University of Toronto


M6S
West Toronto
Runnymede


M6S
West Toronto
Swansea


M7S
Not assigned
Not assigned


M8S
Not assigned
Not assigned


M9S
Not assigned
Not assigned


M1T
Scarborough
Clarks Corners


M1T
Scarborough
Sullivan


M1T
Scarborough
Tam O'Shanter


M2T
Not assigned
Not assigned


M3T
Not assigned
Not assigned


M4T
Central Toronto
Moore Park


M4T
Central Toronto
Summerhill East


M5T
Downtown Toronto
Chinatown


M5T
Downtown Toronto
Grange Park


M5T
Downtown Toronto
Kensington Market


M6T
Not assigned
Not assigned


M7T
Not assigned
Not assigned


M8T
Not assigned
Not assigned


M9T
Not assigned
Not assigned


M1V
Scarborough
Agincourt North


M1V
Scarborough
L'Amoreaux East


M1V
Scarborough
Milliken


M1V
Scarborough
Steeles East


M2V
Not assigned
Not assigned


M3V
Not assigned
Not assigned


M4V
Central Toronto
Deer Park


M4V
Central Toronto
Forest Hill SE


M4V
Central Toronto
Rathnelly


M4V
Central Toronto
South Hill


M4V
Central Toronto
Summerhill West


M5V
Downtown Toronto
CN Tower


M5V
Downtown Toronto
Bathurst Quay


M5V
Downtown Toronto
Island airport


M5V
Downtown Toronto
Harbourfront West


M5V
Downtown Toronto
King and Spadina


M5V
Downtown Toronto
Railway Lands


M5V
Downtown Toronto
South Niagara


M6V
Not assigned
Not assigned


M7V
Not assigned
Not assigned


M8V
Etobicoke
Humber Bay Shores


M8V
Etobicoke
Mimico South


M8V
Etobicoke
New Toronto


M9V
Etobicoke
Albion Gardens


M9V
Etobicoke
Beaumond Heights


M9V
Etobicoke
Humbergate


M9V
Etobicoke
Jamestown


M9V
Etobicoke
Mount Olive


M9V
Etobicoke
Silverstone


M9V
Etobicoke
South Steeles


M9V
Etobicoke
Thistletown


M1W
Scarborough
L'Amoreaux West


M2W
Not assigned
Not assigned


M3W
Not assigned
Not assigned


M4W
Downtown Toronto
Rosedale


M5W
Downtown Toronto
Stn A PO Boxes 25 The Esplanade


M6W
Not assigned
Not assigned


M7W
Not assigned
Not assigned


M8W
Etobicoke
Alderwood


M8W
Etobicoke
Long Branch


M9W
Etobicoke
Northwest


M1X
Scarborough
Upper Rouge


M2X
Not assigned
Not assigned


M3X
Not assigned
Not assigned


M4X
Downtown Toronto
Cabbagetown


M4X
Downtown Toronto
St. James Town


M5X
Downtown Toronto
First Canadian Place


M5X
Downtown Toronto
Underground city


M6X
Not assigned
Not assigned


M7X
Not assigned
Not assigned


M8X
Etobicoke
The Kingsway


M8X
Etobicoke
Montgomery Road


M8X
Etobicoke
Old Mill North


M9X
Not assigned
Not assigned


M1Y
Not assigned
Not assigned


M2Y
Not assigned
Not assigned


M3Y
Not assigned
Not assigned


M4Y
Downtown Toronto
Church and Wellesley


M5Y
Not assigned
Not assigned


M6Y
Not assigned
Not assigned


M7Y
East Toronto
Business Reply Mail Processing Centre 969 Eastern


M8Y
Etobicoke
Humber Bay


M8Y
Etobicoke
King's Mill Park


M8Y
Etobicoke
Kingsway Park South East


M8Y
Etobicoke
Mimico NE


M8Y
Etobicoke
Old Mill South


M8Y
Etobicoke
The Queensway East


M8Y
Etobicoke
Royal York South East


M8Y
Etobicoke
Sunnylea


M9Y
Not assigned
Not assigned


M1Z
Not assigned
Not assigned


M2Z
Not assigned
Not assigned


M3Z
Not assigned
Not assigned


M4Z
Not assigned
Not assigned


M5Z
Not assigned
Not assigned


M6Z
Not assigned
Not assigned


M7Z
Not assigned
Not assigned


M8Z
Etobicoke
Kingsway Park South West


M8Z
Etobicoke
Mimico NW


M8Z
Etobicoke
The Queensway West


M8Z
Etobicoke
Royal York South West


M8Z
Etobicoke
South of Bloor


M9Z
Not assigned
Not assigned

### Let's list the elements of our rows

In [6]:
for tr in table.find_all('tr'): #tr = table row
    data = (tr.find_all('td')) #td = table data
    row1 = [i.text for i in data]
    #print(row1)

## Now Let's Create the DataFrame

##### We will make an array of the lists above so we can turn it into a dataframe.

##### We will also need to add the column names which are the Table Headers labled 'th' within the '<>' in the html code above.

In [7]:
row= []
for tr in table.find_all('tr'):
    data = tr.find_all('td')
    row.append([i.text.strip() for i in data]) # .strip() is used to remove the \n from last column
      
labels = table.find_all('th')
labels = [c.text for c in labels]
labels = [i.strip() for i in labels] 
#print(labels)
tor_data = pd.DataFrame( data  = row , columns = labels)
tor_data.head()

  Postcode       Borough      Neighborhood
0     None          None              None
1      M1A  Not assigned      Not assigned
2      M2A  Not assigned      Not assigned
3      M3A    North York         Parkwoods
4      M4A    North York  Victoria Village

### Now let's clean our dataframe

##### We will start by removing the empty top row and then resetting the index

In [8]:
df1 =  tor_data.drop(tor_data.index[0], inplace = True)

In [9]:
tor_data1 = tor_data.reset_index(drop = True)

In [10]:
tor_data1.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### We need to remove all the 'Not assigned' values from the 'Borough' column

In [11]:
tor_data1 = tor_data1[tor_data1.Borough != 'Not assigned']

In [12]:
tor_data1.head()

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

### Let's group together 'Neighborhoods' with same 'Postcode'.

#### After getting our column names, we can start grouping Neighborhoods together first by 'Postcode' then by 'Borough' and joining together the string values.

In [13]:
tor_data1.columns

Index(['Postcode', 'Borough', 'Neighborhood'], dtype='object')

In [14]:
tor_data1 = tor_data1.groupby(['Postcode','Borough'])['Neighborhood'].apply(','.join).reset_index()
tor_data1.head()

  Postcode      Borough                          Neighborhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

#### Now we replace the 'Not assigned' values in the 'Neigborhood' column with the corresponding 'Boroughs'.

In [15]:
tor_data1.loc[tor_data1.Neighborhood == 'Not assigned', 'Neighborhood'] = tor_data1.Borough
tor_data1.head()

  Postcode      Borough                          Neighborhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

### Now let's see the shape of the cleaned up DataFrame

In [16]:
tor_data1.shape

(103, 3)